// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// custom styling
.clearfix:after {
    clear: both;
    content: '';
    display: table;
}
.card-content {
    margin: 0;
    outline: none;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: normal;
    transition: 2s;
    width: 94%;
    &:focus {
        width: 98%;
        background-color: #47b6e2;
    }
}
.new-card {
    border: 1px solid grey;
    padding: 5px;
    max-width: 250px;
    margin: 0 auto;
    transition: 2s;
    overflow: hidden;
    section {
        height: 0;
        transition: 2s;
        margin: 0;
        textarea {
            margin-top: 10px;
            width: 99%;
        }
    }
    &.full-mode {
        max-width: 1300px;
        section {
            height: auto;
        }
    }
}
.card-block {
    width: 33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    section {
        width: 100%;
        padding: 10px;
        border: 1px dashed #ccc;
    }
    &:nth-of-type(3n+1) {
        clear: both;
    }
}
.locality {
    word-wrap: break-word;
    height: 50px;
    display: inline-block;
    overflow: hidden;
}
.button-group {
    margin-top: 10px;
}
.edit-btn {
    float: right;
}

// .gridListdemoBasicUsage md-grid-list {
//   margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
