// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('../images/backgroundImage.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.main-block {
    margin-top: 50px;
}
.custom-border {
    border: 1px solid grey;
    border-radius: 5px;
}
.scrolling {
    min-height: 100px;
}
li {
    list-style: none;
}
img {
  width: 100%;
}
.package-heading, .attraction-heading {
    border-bottom: 1px solid grey;
}
.ui-draggable-dragging {
    width: 273px;
}
.connected-drop-target-sortable .ui-sortable-placeholder {
    border: 1px dotted red;
    min-height: 100px;
    border-radius: 5px;
    visibility: visible !important;
    width: 100%;
    float: left;
}
.connected-drop-target-sortable {
    clear: both;
}

// slider css



.jcarousel-wrapper {
  // margin: 20px auto;
  position: relative;
  // border: 10px solid #fff;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
  // -webkit-box-shadow: 0 0 2px #999;
  // -moz-box-shadow: 0 0 2px #999;
  // box-shadow: 0 0 2px #999;
}
/** Carousel **/

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  width: 200px;
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jcarousel img {
  display: block;
  max-width: 100%;
  height: 230px;
}
/** Carousel Controls **/

.jcarousel-control-prev, .jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 4px #F0EFE7;
  -moz-box-shadow: 0 0 4px #F0EFE7;
  box-shadow: 0 0 4px #F0EFE7;
}
.jcarousel-control-prev {
  left: 15px;
}
.jcarousel-control-next {
  right: 15px;
}
/** Carousel Pagination **/

.jcarousel-pagination {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
}
.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  background: #fff;
  color: #4E443C;
  border-radius: 10px;
  text-indent: -9999px;
  margin-right: 7px;
  -webkit-box-shadow: 0 0 2px #4E443C;
  -moz-box-shadow: 0 0 2px #4E443C;
  box-shadow: 0 0 2px #4E443C;
}
.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  -webkit-box-shadow: 0 0 2px #F0EFE7;
  -moz-box-shadow: 0 0 2px #F0EFE7;
  box-shadow: 0 0 2px #F0EFE7;
}

// home page styling
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
/* Header CSS Start */
.header {
    padding: 0;
    border: 0;

    .navbar-default {
        background: #689f38;
        border: 0;
        border-radius: 0;
        min-height: 60px;
        z-index: 1;
    }

    .navbar-nav {
        float: right;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 19px 18px;
    }
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }
}
/* Header CSS End */

/* Plan Your Vacation CSS Start */
.banner-section {
    padding-bottom: 172px;
}
.plan-vacation {
    padding: 20px 0 53px;
}
.company-logo {
    img {
        width: auto;
    }
}
.vacation-heading {
    font-family: 'Roboto', sans-serif;
    text-align: right;
    color: #fff;
    h2 {
        font-size: 72px;
        font-weight: 300;
        line-height: 1;
        margin: 0;
    }
    h2 span {
        font-size: 48px;
        display: block;
    }
}
.plan-vacation-form {
    font-family: 'Roboto', sans-serif;
    position: relative;

    div {
        padding-left: 87px
    }
    input {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        border: none;
        height: 36px;
        padding: 8px 44px 8px 10px;
    }
    &::-webkit-input-placeholder {
      color: rgba(96,125,139,0.5);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(96,125,139,0.5);
    }
    &:-ms-input-placeholder {
      color: rgba(96,125,139,0.5);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(96,125,139,0.5);
    }
    .city {
      margin-bottom: 16px;
      background-image: url('../images/locationIcon.png');
      background-repeat: no-repeat;
      background-position: center right 10px;
      width: 100%;
    }
    .date {
      background-image: url('../images/calender-icon.png');
      background-repeat: no-repeat;
      background-position: center right 10px;
      width: 50%;
      float: left;
    }
    .search {
        background-image: url('../images/searchIcon.png');
        background-color: #689f38;
        background-repeat: no-repeat;
        background-position: center right 10px;
        border: none;
        font-family: 'Roboto', sans-serif;
        padding: 8px 10px;
        font-size: 14px;
        float: right;
        color: #fff;
        text-align: left;
        width: 47.5%;
        height: 36px;
    }

    .add-city {
        background: url("/images/addicon.png") 0px 0px no-repeat;
        font-size: 14px;
        font-weight: 100;
        line-height: 24px;
        color: #fff;
        position: absolute;
        right: -67px;
        top: 6px;
        padding-left: 33px;
    }
}
/* Plan Your Vacation CSS End */

.featured-packs-head, .find-destination-head {
    display: block;
    padding: 21px 10px;
    background-color: #689F38;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
}
.featured-packs {
  margin-bottom: 60px;
}
.why-us, .testimonial {
  background-color: rgba(69,90,100,0.8);
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 40px 0;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  a {
      color: #9ccc65;
  }
}
.why-us-head, .testimonial-head {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
}
.why-us-list {
    line-height: 35px;
    li {
        list-style: initial;
        font-size: 20px;
    }
}
.testimonial-content, .why-us-content  {
    padding-left: 10px;
}
.testimonial-content {
    padding-right: 7%;
    &::before, &::after{
        content: '';
        position: absolute;
        display: block;
        height: 55px;
        width: 115px;
        background-repeat: no-repeat;
        background-size: 45px;
    }
    &::before {
        background-image: url(../images/quoteiconLeft.png);
        top: 4px;
        left: -60px;
    }
    &::after {
        background-image: url(../images/quoteIconbottom.png);
        bottom: 0px;
        right: -50px;
    }
}
.testinomy {
  line-height: 30px;
}
.why-us-img, .testimonial-img {
    padding-right: 15px;
  text-align: center;
  img {
    width: 160px;
  }
}
.testinomy-author {
    text-align: right;
}
.company-logo-text {
  font-family: Avant Garde;
  font-size: 18px;
  color: #fff;
  margin-left: 15px;
}
.company-logo {
  margin-top: 13px;
}
.plan, .vacation {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #ecf0f1;
}
.plan {
  font-size: 48px;
}
.vacation {
  font-size: 72px;
  margin-bottom: 60px;
}
.search {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  font-size: 14px;
  float: right;
  color: #fff;
  background-color: #689f38;
  text-align: left;
  background-image: url('../images/searchIcon.png');
  background-color: #689f38;
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.city {
  margin-bottom: 16px;
  background-image: url('../images/locationIcon.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.date {
  background-image: url('../images/calender-icon.png');
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.date, .search {
  width: 49%;
}
.city, .date {
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  font-size: 14px;
  &::-webkit-input-placeholder {
    color: rgba(96,125,139,0.5);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(96,125,139,0.5);
  }
  &:-ms-input-placeholder {
    color: rgba(96,125,139,0.5);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(96,125,139,0.5);
  }
}
.plan-description {
  background-color: #fff;
  display: block;
  min-height: 230px;
  padding: 10px;
  position: relative;
  padding-bottom: 40px;
  &::before, &::after {
    content: '';
    height: 16px;
    width: 29px;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -14px;
    z-index: 1;
  }
}
.plan-description:nth-child(even) {
    &::before {
      background-image: url(../images/upwardWhiteArrow.png);
      top: -15px;
    }
    &::after {
        display: none;
    }
}
.plan-description:nth-child(odd) {
    &::after {
      background-image: url(../images/downwardWhiteArrow.png);
      bottom: -15px;
    }
    &::before {
        display: none;
    }
}
.float-on-mobile {
     min-height: 250px;
}
.right-arrow , .left-arrow {
    &::before, &::after {
      content: '';
      height: 30px;
      width: 20px;
      display: block;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -15px;
      z-index: 1;
    }
}
.right-arrow {
    &::after {
        background-image: url(../images/rightWhiteArrow.png);
        right: -18px;
    }
    &::before {
        display: none;
    }
}
.left-arrow {
    &::before {
        background-image: url(../images/leftWhiteArrow.png);
        left: -15px;
    }
    &::after {
        display: none;
    }
}
.planned-city {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  color: rgba(0,0,0,0.87);
}
.planned-city-description {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.78);
}
.plan-it-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  padding: 8px 0;
  width: 60%;
  margin-left: calc(-30%);
  background-color: #689f38;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.plan-item {
  background-color: #fff;
  display: block;
}
.plan-item-description {
  min-height: 585px;
  position: relative;
}
.item-description-small {
  position: absolute;
  bottom: 0;
}

/* Suggestion CSS Start */
.suggested-plans-wrapper {
    background: white;
    font-family: 'Roboto Condensed', sans-serif;
    h1 {
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
    }
    span {
        font-size: 16px;
        line-height: 25px;
    }
    img {
        height: 100%;
    }
}
.suggested-plans-heading {
    padding: 21px 10px;
    background-color: #689F38;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.md-hidden {
    display: none;
}
.suggested-content-desc {
    min-height: 250px;
    position: relative;
}
.suggested-quad-desc {
    background: #eceff1;
    min-height: 250px;
}
.suggested-quad-image {
    height: 250px;
}
.hide-on-desktop {
    display: none;
}
.suggested-plans-full-image {
      height: 530px;
}
.suggested-view-button {
    display: block;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    background: #689F38;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 8px 45px;
    font-family: roboto;
    position: absolute;
    bottom: 0;
    margin-bottom: 17px;
    left: 50%;
    margin-left: -50px;
}
/* Suggestion CSS End */
.find-destination {
    padding-bottom: 60px;
}

/* Footer CSS Start */
.footer {
    background: rgba(0,0,0, .87);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    padding: 50px 20px 200px;

    h2 {
        font-weight: 100;
    }
}

.signup-section {
    text-align: center;

    h2 {
        font-size: 24px;
        margin-top: 0;
    }
}

.signup-heading {
    margin-bottom: 56px;
}

.newsletter-form {
    padding-bottom: 56px;

    input,
    button {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 100;
        border-radius: 0;
        border: 0;
        height: 40px;
        text-align: center;
    }

    input {
        color: #010000;
    }

    ::-webkit-input-placeholder {
        color: #010000;
    }

    button {
        width: 140px;
    }

    button,
    button:hover,
    button:active,
    button:active.focus {
        background: #689f38;
        color: #fff;
    }
}
.social-header {
    margin-bottom: 25px;
}

.social-media {
    display: inline-block;
    padding: 0 0 62px;

    li {
        float: left;
    }

    a {
        display: block;
        width: 100px;
        height: 100px;
    }

    .facebook {
        background: #3b5998 url("/images/fbIocn.png") center center no-repeat;
    }

    .g-plus {
        background: #dd4b39 url("/images/googlePlusIcon.png") center center no-repeat;
    }

    .twitter {
        background: #55acee url("/images/twitterIcon.png") center center no-repeat;
    }

    .you-tube {
        background: #e52d27 url("/images/youtubeIcon.png") center center no-repeat;
    }
}
.footer-nav {
    border-top: 1px #929292 solid;
    padding-bottom: 60px;
}

.footer-links {
    border-bottom: 1px #929292 solid;
    padding: 35px 0 22px;

    .link-section {
        padding-left: 50px;
    }

    h2 {
        font-size: 30px;
        text-align: right;
        margin: 0;
        padding-right: 70px;
    }

    ul {
        padding: 0;
    }

    a {
        line-height: 30px;
        display: block;
        color: #fff;
    }

    a:hover {
        color: #fff;
        text-decoration: none;
    }
}
.copy-right {
    text-align: center;
}
/* Footer CSS End */
