@media (max-width: 991px) {
    .signup-section h2 {
        font-size: 18px;
    }
    .suggested-quad-image {
        height: 250px;
    }
    .suggested-quad-desc {
          min-height: 250px;
    }
    .suggested-content-desc {
        height: 250px;
    }
    .suggested-plans-full-image {
        display: none;
    }
    .hide-on-desktop {
        display: block;
        float: left;
        height: 250px;
        width: 50%;
    }
    .float-on-mobile {
        min-height: 250px;
        position: relative;
        width: 50%;
        float: left;
    }
    .signup-heading {
        margin-bottom: 38px;
    }

    .footer-links {
        .link-section {
            padding-left: 25px;
        }

        h2 {
            padding-right: 0;
        }
    }
}
