@media (max-width: 991px) {
    /* Header CSS Start */
    .header {
        .navbar-header,
        .navbar-collapse {
            margin: 0;
        }
        .navbar-nav {
            margin: 0;
            float: none;
        }

        .navbar-toggle {
            background: url("/images/hamburger-icon.png") center center no-repeat;
            border-radius: 0;
            border: 0;
            width: 64px;
            height: 60px;
            padding: 0;
            margin: 0;
        }
        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background: url("/images/hamburger-icon.png") center center no-repeat;
        }

        .navbar-collapse {
            border-color: #fff;
            position: absolute;
            width: 100%;
            left: 0;
            top: 60px;
        }

        .navbar-default .navbar-nav > li > a {
            background: #6a7b83;
            padding: 20px;
        }

        .navbar-nav > li {
            border-bottom: 1px #fff solid;
        }
    }
    /* Header CSS End */
    .signup-section h2 {
        font-size: 18px;
    }
    .suggested-quad-image {
        height: 250px;
    }
    .suggested-quad-desc {
          min-height: 250px;
    }
    .suggested-content-desc {
        height: 250px;
        padding: 0;
    }
    .suggested-plans-full-image {
        display: none;
    }
    .hide-on-desktop {
        display: block;
        float: left;
        height: 250px;
        width: 50%;
    }
    .float-on-mobile {
        min-height: 250px;
        position: relative;
        padding-left: 15px;
        width: 50%;
        float: left;
    }
    .signup-heading {
        margin-bottom: 38px;
    }
    .why-us-img {
        display: none;
    }
    .why-us {
          padding: 40px 28px;
          font-size: 16px;
    }
    .why-us-list li {
        font-size: 16px;
    }
    .footer-links {
        .link-section {
            padding-left: 25px;
        }

        h2 {
            padding-right: 0;
        }
    }
}
