
<!-- Footer Section Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12 col-md-6 no-padding col-md-offset-3 signup-section">
                    <h2 class="signup-heading">Sign up to our newsletter for more great deals</h2>
                    <div class="input-group newsletter-form">
                        <input type="text" class="form-control" placeholder="Enter your e-mail address">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Submit</button>
                        </span>
                    </div>
                    <h2 class="social-header">Follow us on social media</h2>
                    <ul class="social-media">
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="g-plus"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="you-tube"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">Quick Links</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights</a>
                                <a href="#">Vacations</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights to India</a>
                                <a href="#">India Vacations</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights to Europe</a>
                                <a href="#">Flights to Australia</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">About</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">About Us</a>
                                <a href="#">Media</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Our Culture</a>
                                <a href="#">Sitemap</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">Resources</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Airlines</a>
                                <a href="#">Currency</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Travel Documents</a>
                                <a href="#">Airline Seat Maps</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Booking Times</a>
                                <a href="#">World Time Information</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy-right">Copyright 2015 © SiteName. All rights reserved.</div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
