<!-- Header Section Start -->
<header class="row header">
    <nav class="navbar navbar-default">
      <div class="container-fluid no-padding">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          </button>
        </div>
        <div class="navbar-collapse collapse no-padding" id="bs-example-navbar-collapse-6" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<!-- Header Section End -->
