#itinerary {
    background-image: url('../images/eiffelTower.jpg');
}
.book-vacation-wrapper {
    height: 36px;
    margin-bottom: 20px;
    > div {
          float: right;
          height: 100%;
          padding: 8px 0 0 40px;
          background-position: 16px;
    }
}
// Navigation css START
.nav-tabs {
    background-color: #E9EEF0;
    border-bottom: 4px solid #51A848 !important;
    a {
        color: #fff;
        margin: 0 !important;
    }
}
.vacation-tabs .nav-tabs {
    padding-top: 20px;
    background-color: rgba(69, 88, 97, 0.8);
}
[role="presentation"] {
    background-color: #16702C !important;
    a:hover {
        background-color: #16702C !important;
        border: 1px solid #16702C !important;
        color: #fff !important;
        border-radius: 0 !important;
    }
}
[role="presentation"].active {
    background-color: #51A848;
    a {
        background-color: #51A848 !important;
        border: 1px solid #51A848 !important;
        color: #fff !important;
        border-radius: 0 !important;
    }
}
.vacation-search {
    padding: 15px 0px;
    background-color: #CCD7DB;
    input {
        margin: 0 auto;
        display: block;
        width: 91%;
        height: 35px;
        padding: 10px;
        border: 0;
    }
}
.panel-group .panel, .panel-body {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #EBEFF0 !important;
}
.panel-default > .panel-heading {
    background-color: #EBEFF0 !important;
}
.add-destination {
    text-align: right;
    background-color: #EAEFF1;
    padding: 5px 15px;
}
.add-places-wrapper {
    background-color: #CCD7DC;
}
.place-desc-wrapper {
    position: relative;
    > div {
        padding-top: 10px;
    }
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-width: 12px 15px 12px 0;
        border-color: rgba(255, 0, 0, 0) #EAEFF1 rgba(0, 0, 255, 0);
        height: 0;
        left: -15px;
        top: 38px;
    }
}
.places-to-be-added {
    background-color: #EAEFF1;
    margin: 15px 0;
}
.vacation-accordian-wrapper.expanded {
    background-color: #EAEFF1;
    height: 95px;
    img {
        height: 95px;
    }
    .accordian-header {
        &::before {
            border-width: 17px 19px 20px 0;
            border-color: rgba(255, 0, 0, 0) #EAEFF1 rgba(0, 0, 255, 0);
            left: -33px;
            top: 26px;
        }
    }
}
.accordian-header {
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-width: 10px 12px 10px 0;
        border-color: rgba(255, 0, 0, 0) #5F9D47 rgba(0, 0, 255, 0);
        height: 0;
        left: -27px;
        top: 14px;
    }
}
.vacation-accordian-wrapper {
    margin: 15px 0;
    height: 50px;
    overflow: hidden;
    background-color: #5F9D47;
    img {
        height: 50px;
    }
    .accordian-header {
        height: 50px;
    }
}
// Navigation css END
.destination-name {
    padding: 15px 0;
    padding-left: 15px;
    background-color: #CCD7DC;
}
.tour-date {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #51A848;
}
.site-description-wrapper  {
    border-top: 1px solid #CED8DA;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-width: 12px 15px 12px 0;
        border-color: rgba(255, 0, 0, 0) #EAEFF1 rgba(0, 0, 255, 0);
        height: 0;
        left: -15px;
        top: 34px;
    }
}
.site-name-wrapper, .site-description {
    padding-top: 10px;
}
.site-name {
    color: #51A848;
}
.vacation-destination-wrapper {
    padding-right: 0;
}
.vacation-itinary-wrapper {
    padding-left: 0;
}
.destination-images {
    background-color: #cfd8d7;
    padding: 15px;
}
.list-wrapper {
    background-color: #EAEFF1;
}
.site-time {
    float: left;
    font-weight: bold;
}
.remove-site, .edit-place {
    float: right;
    background-image: url(../images/closeBtnGreen.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: right;
}
.edit-place {
    background-image: url(../images/editBtnGreen.png);
}
.upper-image {
      margin-bottom: 15px;
}
.contact-agent {
    width: 190px;
    background-image: url(../images/chatIcon.png);
    background-color: #eceff1;
    color: #455a64;
    background-repeat: no-repeat;
}
.book-vacation {
    width: 150px;
    background-image: url(../images/worldIcon.png);
    background-color: #689f38;
    color: #fff;
    background-repeat: no-repeat;
    margin-left: 10px;
}
