#itinerary {
    background-image: url('../images/eiffelTower.jpg');
}
.book-vacation-wrapper {
    height: 36px;
    margin-bottom: 20px;
    > div {
          float: right;
          height: 100%;
          padding: 8px 0 0 40px;
          background-position: 16px;
    }
}
.panel-group .panel + .panel {
      margin-top: 0 !important;
}
.accordion-toggle:after {
    content: '';
    display: table;
    clear: both;
}
.tour-day {
    background-color: #cfd8dc;
    padding-left: 14px;
    font-size: 14px;
    color: #455a64;
    font-weight: bold;
    font-style: normal;
    height: 36px;
    width: 80px;
    line-height: 36px;
    background-image: url(../images/dropdown-Arrowgreen.png);
    background-repeat: no-repeat;
    background-size: 14px 10px;
    background-position: right;
    border-right: 10px solid transparent;
    font-family: roboto;
}
.panel-group {
    margin-bottom: 0 !important;
}
// Navigation css START
.nav-tabs {
    background-color: #E9EEF0;
    border-bottom: 4px solid #689f38 !important;
    a {
        color: #fff;
        margin: 0 !important;
    }
}
.vacation-tabs .nav-tabs {
    padding-top: 20px;
    background-color: rgba(69, 88, 97, 0.8);
}
.nav-tabs > li > a {
    background-color: #16702C !important;
    border: 1px solid #16702C !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.nav-tabs > li.active > a {
    background-color: #689f38 !important;
    border: 1px solid #689f38 !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.vacation-search {
    padding: 15px 0px;
    background-color: #CCD7DB;
    input {
        margin: 0 auto;
        display: block;
        width: 91%;
        height: 35px;
        padding: 10px;
        border: 0;
        background-image: url(../images/searchIconGreen.png);
        background-repeat: no-repeat;
        background-position: right;
        border-right: 15px solid transparent;
    }
}
.itinary-tabs-list {
    background-image: url(../images/listIcon.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.itinary-tabs-calendar {
    background-image: url(../images/calenderIcon.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.vacation-tabs-attractions {
    background-image: url(../images/locationIconWhite.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.vacation-tabs-tours {
    background-image: url(../images/tourIcon.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
.panel-group .panel, .panel-body {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #EBEFF0 !important;
}
.panel-default > .panel-heading {
    background-color: #EBEFF0 !important;
}
.add-destination {
    background-color: #EAEFF1;
    padding: 5px 15px;
    line-height: 30px;
    border-bottom: 4px solid #689f38;
    span {
        float: right;
        background-image: url(../images/addBtnBlack.png);
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 25px;
    }
}
.add-places-wrapper {
    background-color: #CCD7DC;
}
.place-desc-wrapper {
    height: 100px;
    > div {
        padding-top: 10px;
    }
}
.places-to-be-added {
    background-color: #EAEFF1;
    margin: 15px 0;
}
.vacation-accordian-wrapper.expanded {
    background-color: #EAEFF1;
    height: 95px;
    img {
        height: 95px;
    }
    .accordian-header {
        &::before {
            border-width: 17px 19px 20px 0;
            border-color: rgba(255, 0, 0, 0) #EAEFF1 rgba(0, 0, 255, 0);
            left: -33px;
            top: 26px;
        }
    }
}
.accordian-header {
    &::before {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-width: 10px 12px 10px 0;
        border-color: rgba(255, 0, 0, 0) #5F9D47 rgba(0, 0, 255, 0);
        height: 0;
        left: -27px;
        top: 14px;
    }
}
.vacation-accordian-wrapper {
    margin: 15px 0;
    height: 50px;
    overflow: hidden;
    background-color: #5F9D47;
    img {
        height: 50px;
    }
    .accordian-header {
        height: 50px;
    }
}
// Navigation css END
.destination-name {
    padding: 15px 0;
    padding-left: 15px;
    background-color: #CCD7DC;
    font-size: 24px;
    font-style: italic;
    font-family: roboto condensed;
}
.panel-body, .panel-heading {
    padding: 0px !important;
}
.tour-date-wrapper {
    padding: 12px 3px 10px 15px;
    color: #689f38;
    font-size: 18px;
    font-style: italic;
    font-family: roboto condensed;
}
.tour-date {
    margin-top: 10px;
}
.site-description-wrapper  {
    border-top: 1px solid #CED8DA;
    position: relative;
    &::before {
        top: 42px;
    }
}
.lower-image > div {
    width: 105px;
}
.lower-image > div:nth-child(2) {
    margin: 0px 23px;
}
.site-name-wrapper, .site-description {
    padding-top: 10px;
}
.site-name {
    color: #689f38;
    font-weight: bold;
}
.vacation-destination-wrapper {
    padding-right: 0;
}
.vacation-itinary-wrapper {
    padding-left: 0;
}
.save-button{
    background-image: url(../images/saveBtn.png);
    background-repeat: no-repeat;
    background-position: left center;
    float: right;
    font-size: 18px;
    padding-left: 35px;
    margin-right: 15px;
}
.save-banner {
    height: 75px;
}
.destination-images {
    background-color: #cfd8d7;
    padding: 20px;
}
.list-wrapper {
    background-color: #EAEFF1;
}
.site-time {
    float: left;
    font-weight: bold;
}
.remove-site, .edit-place {
    float: right;
    background-image: url(../images/closeBtnGreen.png);
    height: 16px;
    background-repeat: no-repeat;
    background-position: right;
}
.edit-place {
    background-image: url(../images/editBtnGreen.png);
}
.upper-image {
      margin-bottom: 15px;
}
.contact-agent {
    width: 190px;
    background-image: url(../images/chatIcon.png);
    background-color: #eceff1;
    color: #455a64;
    background-repeat: no-repeat;
}
.book-vacation {
    width: 150px;
    background-image: url(../images/worldIcon.png);
    background-color: #689f38;
    color: #fff;
    background-repeat: no-repeat;
    margin-left: 10px;
}
@media (max-width: 991px) {
    .vacation-destination-wrapper,
    .vacation-itinary-wrapper,
    .site-image-wrapper {
      padding: 0;
    }
}
