#searchResult {
    background-image: url('../images/backgroundImage-2.jpg');
    .plan-vacation-form {
        .city {
            width: 58%;
            margin-right: 6px;
            margin-left: 5px;
        }
        .date {
            width: 30%;
            float: none;
        }
        input {
            padding: 7px;

        }
        div {
              padding: 0;
        }
        > div {
              text-align: center;
        }
        .search {
            position: relative;
            right: 5%;
        }
        .minus-city {
            background: url("/images/minus.png") 0px 0px no-repeat;
            line-height: 28px;
            right: -62px;
            width: 30px;
        }
        .add-city {
            width: 30px;
        }
    }
    .repeat-section {
      position: relative;
    }
}
.matching-results {
    padding: 15px;
    background-color: #5E9D48;
}
.matching-results-wrapper {
    img, > div {
        height: 60px;
    }
}
.matching-results-wrapper:nth-child(even) {
    .directing-arrow-left::before {
        border-color: transparent #fff transparent;
    }
}
.matching-results-wrapper:nth-child(odd) {
    background-color: #E9EFF1;
}
.matching-results-wrapper:nth-child(even) {
    background-color: #FFFFFF;
}
@media (max-width: 767px) {
    #searchResult {
        .plan-vacation-form {
            div {
                padding: 0;
            }
            .search {
                right: 9%;
            }
            .city {
                width: 48%;
            }
            .minus-city {
                padding: 0;
                width: 29px;
                height: 29px;
                right: 6px;
            }
        }
    }
}


@media (max-width: 991px) {
    #searchResult {
        .plan-vacation-form {
            .minus-city {
                padding: 0;
                width: 29px;
                height: 29px;
                right: 6px;
            }
        }
    }
}
