@media (min-width: 768px) {
  .c-add-destination .modal-dialog {
    width: 480px;
    margin: 30px auto;
  }
}

.datetime-picker div > table .btn-default {
  border: 0;
}
[date-picker-wrap] {
  z-index: 9999;
}

.c-add-destination {
  .c-twoBlock {
    .c-calender {
      width: 49%;
      float: left;
    }
    .c-calender:last-child {
      float: right;
    }
  }
  .c-button {
    width: 49%;
  }
}
