.headingArea {
    padding: 17px 0;
    padding-left: 16px;
    font-size: 30px;
    color: #fff;
    letter-spacing: -0.1px;
    background-color: rgba(69, 88, 97, 0.8);
    font-weight: 300;
    line-height: 42px;
}
