@media (min-width: 768px) {
  .c-signup .modal-dialog {
    width: 480px;
    margin: 30px auto;
  }
}
.c-signup {
  .c-button {
    width: 49%;
  }
  .c-pwd {
    float: left;
    width: 49%;
  }
  .c-cnfrm-pwd {
    float: right;
    width: 49%;
  }
}
