.modal-content {
  border-radius: 0px;
  background: #eceff1;
  padding-top: 40px;
  padding-bottom: 48px;
}
.c-modal-heading {
  font-size: 36px;
  color: #455a64;
  font-weight: 300;
  line-height: 1;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -3px;
  margin-bottom: 23px;
}
.c-close-modal {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 31px;
  top: 20px;
  z-index: 1;
  opacity: 1;
  outline: none;
  span {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("/images/cross-modal.png") center center no-repeat;
  }
  &:hover {
    opacity: 1;
  }
}
.c-modalText  {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #263238;
  height: 36px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 30px;
}
.c-green-link, .c-green-link:hover, .c-green-link:active {
  color: #689f38;
  font-size: 14px;
  text-decoration: underline;
}
.c-button {
  width: 48.2%;
  outline: none;
  background: none;
  border: none;
  color: #455a64;
  text-align: left;
  font-size: 14px;
  background: #cfd8dc;
  height: 36px;
  padding-left: 10px;

}
.c-fleft {
  float: left;
}
.c-fright {
  float: right;
}
.c-submit-button {
  background: #689f38;
  color: #fff;
}
.c-continue {
  text-align: center;
}
.modal-footer {
  border-top: none;
  padding: 48px 0px 0px;
}
.c-signUp-block{
  border-left: 1px solid #cfd8dc;
}
.padding-lr-20 {
  padding: 0px 20px;
}
.forgot-link {
  text-align: right;
  margin-top: 19px;
}
input[type="email"] {
  background: #fff url("/images/email-icon.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}
input[type="password"] {
  background: #fff url("/images/pwd-icon.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

.c-textarea {
  height: 100px;
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 10px;
  resize: none;
  margin-bottom: 10px;
}

.c-user {
  background: #fff url("/images/user-icon.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

.c-calender {
  background: #fff url("/images/calender-icon-2.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

.c-call {
  background: #fff url("/images/call-icon.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

input[type="submit"] {
  background-image: url("/images/submit.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}
.c-add-more {
  background-image: url("/images/add-more.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

.c-location {
  background: #fff url("/images/location-icon-2.png") no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}

input[type="reset"] {
  background-image: url("/images/cancel-icon.png");
  background-repeat: no-repeat;
  background-position: 97%;
  background-position: center right 10px;
}
.c-select-box {
  height: 36px;
  border: none;
  width: 100%;
  outline: none;
  margin-bottom: 15px;
  text-indent: 6px;
  appearance: none;
  -webkit-appearance: none;
  background: #fff url("/images/drop-down-arrow.png") no-repeat right;
}
