<div>
  <tp-accordion ng-transclude>
    <div class="accordion">
      <tp-accordion-head>
        dfgdfgfdg
      </tp-accordion-head>
      <tp-accordion-content ng-transclude>
        accordion content 1
      </tp-accordion-content>
    </div><div class="accordion">
      <tp-accordion-head ng-transclude>
        <h1>accordion headin 1</h1>
      </tp-accordion-head>
      <tp-accordion-content ng-transclude>
        accordion content 1
      </tp-accordion-content>
    </div><div class="accordion">
      <tp-accordion-head ng-transclude>
        <h1>accordion headin 1</h1>
      </tp-accordion-head>
      <tp-accordion-content ng-transclude>
        accordion content 1
      </tp-accordion-content>
    </div><div class="accordion">
      <tp-accordion-head ng-transclude>
        <h1>accordion headin 1</h1>
      </tp-accordion-head>
      <tp-accordion-content ng-transclude>
        accordion content 1
      </tp-accordion-content>
    </div><div class="accordion">
      <tp-accordion-head ng-transclude>
        <h1>accordion headin 1</h1>
      </tp-accordion-head>
      <tp-accordion-content ng-transclude>
        accordion content 1
      </tp-accordion-content>
    </div>
  </tp-accordion>
</div>
