<div>
  <accordion close-others="true">
    <accordion-group is-open="true" >
      <accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon"></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group >
      <accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group >
      <accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group >
      <accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ></i>
      </accordion-heading>
      This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
