<div class="container">
    <!-- Header Section Start -->
    <header class="row header">
        <nav class="navbar navbar-default">
          <div class="container-fluid no-padding">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
              </button>
            </div>
            <div class="navbar-collapse collapse no-padding" id="bs-example-navbar-collapse-6" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav">
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <!-- Header Section End -->
<div class="row banner-section">
    <div class="plan-vacation clearfix">
        <div class="col-xs-5 col-md-4 no-padding company-logo">
            <img src="images/complany-logo.png" />
        </div>
        <div class="col-xs-7 col-md-8 no-padding vacation-heading">
            <h2><span>Plan Your</span>Vacation</h2>
        </div>
    </div>
    <div class="plan-vacation-form clearfix">
        <div class="col-md-5 col-md-offset-7 no-padding">
            <form>
                <input class="city" placeholder="Enter a city or country" />
                <input class="date" placeholder="MM/DD/YYYY" />
                <button class="search">Search</button>
            </form>
            <div class="add-city"><span>Add</span></div>
        </div>
    </div>
</div>
  <div class="row featured-packs">
    <span class="col-md-12 no-padding featured-packs-head">
      Customize your plan as you like:
    </span>
    <div j-caraousel class="jcarousel-wrapper">
      <div class="jcarousel">
        <ul class="col-md-12 no-padding">
          <li class="col-md-3 no-padding">
            <img src="images/Alaska-Image.png">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
          </li>
          <li class="col-md-3 no-padding">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
            <img src="images/Alaska-Image.png">
          </li>
          <li class="col-md-3 no-padding">
            <img src="images/Alaska-Image.png">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
          </li>
          <li class="col-md-3 no-padding">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
            <img src="images/Alaska-Image.png">
          </li>
        </ul>
      </div>

      <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
      <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    </div>
  </div>
  <div class="row why-us">
    <div class="col-md-2 no-padding why-us-img">
      <img src="images/logo-icon.png">
    </div>
    <div class="col-md-10 col-xs-12 why-us-content no-padding">
      <p class="col-md-12 no-padding why-us-head">Why plan with us?</p>
      <ul class="col-md-12 no-padding why-us-list">
        <li>Hello Hello Hello Hello Hello <a>jhd jhkdfk</a> Hello Hello </li>
        <li>Hello Hello <a>jhd jhkdfk</a> Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello <a>jhd jhkdfk</a> </li>
      </ul>
  </div>
  </div>

  <!-- Find-destination Section Start -->
  <div class="row suggested-plans-wrapper">

      <div class="suggested-plans-heading">Suggested Plans</div>
      <!-- First section Start -->
      <div class="suggested-plans-content clearfix">
          <div class="col-md-6 no-padding height-per-cent suggested-content-left">
              <div class="col-md-12  height-half-cent clearfix suggested-content-desc">
                  <div class="float-on-mobile right-arrow clearfix">
                      <h1>Nature & Wildlife</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
                  <div class="hide-on-desktop"><img src="images/natureWildLifeImage.png"></div>
              </div>
              <div class="suggested-quad-lower height-half-cent clearfix">
                  <div class="col-md-6 col-xs-6 no-padding suggested-quad-image">
                      <img src="images/cruisesimage.png">
                  </div>
                  <div class="col-md-6 col-xs-6 height-per-cent left-arrow suggested-quad-desc">
                      <h1>Cruises</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
              </div>
          </div>

          <div class="col-md-6  no-padding height-per-cent suggested-plans-full-image">
              <img src="images/natureWildLifeImage.png">
          </div>
      </div>
      <!-- First section End -->

      <!-- Second section Start -->
      <div class="suggested-plans-content clearfix">
          <div class="col-md-6  no-padding height-per-cent suggested-plans-full-image">
              <img src="images/natureWildLifeImage.png">
          </div>
          <div class="col-md-6 no-padding height-per-cent suggested-content-left">
              <div class="col-md-12  height-half-cent clearfix suggested-content-desc">
                  <div class="hide-on-desktop"><img src="images/natureWildLifeImage.png"></div>
                  <div class="float-on-mobile left-arrow clearfix">
                      <h1>Nature & Wildlife</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
              </div>
              <div class="suggested-quad-lower height-half-cent clearfix">
                  <div class="col-md-6 col-xs-6 height-per-cent right-arrow suggested-quad-desc">
                      <h1>Cruises</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
                  <div class="col-md-6 col-xs-6 no-padding suggested-quad-image">
                      <img src="images/cruisesimage.png">
                  </div>
              </div>
          </div>
      </div>
      <!-- Second section End -->



  </div>
  <!-- Find-destination Section End -->


  <!-- Testimonial Section Start -->
  <div class="row testimonial">
    <div class="col-md-2 col-xs-5  no-padding testimonial-img">
      <img src="images/logo-icon.png">
    </div>
    <div class="col-md-10 col-xs-7  testimonial-content no-padding">
        <p class="testinomy">
            The trip was well worth of moneyThe trip was well worth of money.
            The trip was well worth of moneyThe trip was well worth of moneyThe trip was well worth of money.
        </p>
        <p class="testinomy-author">Linda Park 2014.</p>
    </div>
  </div>
  <!-- Testimonial Section End -->


</div>

<!-- Footer Section Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="col-xs-12 col-md-6 no-padding col-md-offset-3 signup-section">
                    <h2 class="signup-heading">Sign up to our newsletter for more great deals</h2>
                    <div class="input-group newsletter-form">
                        <input type="text" class="form-control" placeholder="Enter your e-mail address">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Submit</button>
                        </span>
                    </div>
                    <h2 class="social-header">Follow us on social media</h2>
                    <ul class="social-media">
                        <li><a href="#" class="facebook"></a></li>
                        <li><a href="#" class="g-plus"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="you-tube"></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">Quick Links</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights</a>
                                <a href="#">Vacations</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights to India</a>
                                <a href="#">India Vacations</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Flights to Europe</a>
                                <a href="#">Flights to Australia</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">About</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">About Us</a>
                                <a href="#">Media</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Our Culture</a>
                                <a href="#">Sitemap</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-links clearfix">
                    <h2 class="col-xs-6 col-md-3">Resources</h2>
                    <div class="col-xs-6 col-md-9 link-section">
                        <ul class="row">
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Airlines</a>
                                <a href="#">Currency</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Travel Documents</a>
                                <a href="#">Airline Seat Maps</a>
                            </li>
                            <li class="col-xs-12 col-md-4">
                                <a href="#">Booking Times</a>
                                <a href="#">World Time Information</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy-right">Copyright 2015 © SiteName. All rights reserved.</div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
