<div class="container">
  <div class="row head-section">
    <span class="hotel-tab">Hotels</span>
    <span class="login-tab">Login</span>
  </div>
  <div class="row plan-vacation">
    <div class="col-md-7 no-padding">
      <img src="images/logo.png" class="col-md-3 no-padding company-logo">
      <span class="col-md-2 no-padding company-logo-text">
        COMPANY LOGO
      </span>
    </div>
    <div class="col-md-5 no-padding plan-section">
      <div class="col-md-12 no-padding plan">
        Plan Your
      </div>
      <div class="col-md-12 no-padding vacation">
        Vacation
      </div>
      <input class="col-md-12 no-padding city" placeholder="Enter a city or country" />
      <input class="col-md-6 no-padding date" placeholder="MM/DD/YYYY" />
      <span class="col-md-6 no-padding search">Search</span>
    </div>
  </div>
  <div class="row featured-packs">
    <span class="col-md-12 no-padding featured-packs-head">
      Customize your plan as you like:
    </span>
    <div j-caraousel class="jcarousel-wrapper">
      <div class="jcarousel">
        <ul class="col-md-12 no-padding">
          <li class="col-md-3 no-padding">
            <img src="images/Alaska-Image.png">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
          </li>
          <li class="col-md-3 no-padding">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
            <img src="images/Alaska-Image.png">
          </li>
          <li class="col-md-3 no-padding">
            <img src="images/Alaska-Image.png">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
          </li>
          <li class="col-md-3 no-padding">
            <span class="plan-description">
              <b class="col-md-12 no-padding planned-city">New York,USA</b>
              <span class="col-md-12 no-padding planned-city-description">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
              <span class="col-md-12 no-padding plan-it-button">Plan It</span>
            </span>
            <img src="images/Alaska-Image.png">
          </li>
        </ul>
      </div>

      <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
      <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    </div>
  </div>
  <div class="row why-us">
    <span class="col-md-3 no-padding why-us-img">
      <img src="images/logo-icon.png">
    </span>
    <span class="col-md-9 no-padding">
      <p class="col-md-12 no-padding why-us-head">Why plan with us?</p>
      <ul class="col-md-12 no-padding">
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
      </ul>
    </span>
  </div>

  <!-- Find-destination Section Start -->
  <div class="row suggested-plans-wrapper">

      <div class="suggested-plans-heading">Suggested Plans</div>
      <!-- First section Start -->
      <div class="suggested-plans-content clearfix">
          <div class="col-md-6 no-padding height-per-cent suggested-content-left">
              <div class="col-md-12  height-half-cent suggested-content-desc">
                  <h1>Nature & Wildlife</h1>
                  <span class="col-md-12 no-padding">
                      Lorem ipsum dolor sit amet, duo brute nusquam in.
                      Eos ei animal expetenda, cu detracto lobortis reprehendunt vel. Quo ne tempor.
                      Possit noluisse delicatissimi in per. Illum postea quo eu, ei eam aperiam vivendo,
                      virtute erroribus.Duo ea augue nihil sententiae. Ei iudico veniam nec.
                  </span>
                  <button type="button" class="btn btn-default suggested-view-button">View</button>
              </div>
              <div class="suggested-quad-lower height-half-cent clearfix">
                  <div class="col-md-6 col-xs-6 no-padding suggested-quad-image">
                      <img src="images/cruisesimage.png">
                  </div>
                  <div class="col-md-6 col-xs-6 height-per-cent suggested-quad-desc">
                      <h1>Cruises</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
              </div>
          </div>

          <div class="col-md-6  no-padding height-per-cent suggested-plans-full-image">
              <img src="images/natureWildLifeImage.png">
          </div>
      </div>
      <!-- First section End -->

      <!-- Second section Start -->
      <div class="suggested-plans-content clearfix">
          <div class="col-md-6  no-padding height-per-cent suggested-plans-full-image">
              <img src="images/natureWildLifeImage.png">
          </div>
          <div class="col-md-6 no-padding height-per-cent suggested-content-left">
              <div class="col-md-12  height-half-cent suggested-content-desc">
                  <h1>Nature & Wildlife</h1>
                  <span class="col-md-12 no-padding">
                      Lorem ipsum dolor sit amet, duo brute nusquam in.
                      Eos ei animal expetenda, cu detracto lobortis reprehendunt vel. Quo ne tempor.
                      Possit noluisse delicatissimi in per. Illum postea quo eu, ei eam aperiam vivendo,
                      virtute erroribus.Duo ea augue nihil sententiae. Ei iudico veniam nec.
                  </span>
                  <button type="button" class="btn btn-default suggested-view-button">View</button>
              </div>
              <div class="suggested-quad-lower height-half-cent clearfix">
                  <div class="col-md-6 col-xs-6 height-per-cent suggested-quad-desc">
                      <h1>Cruises</h1>
                      <span class="col-md-12 no-padding">
                          Lorem ipsum dolor sit amet, duo brute nusquam in.
                          Eos ei animal expetenda, cu detracto lobortis vel.
                          Lorem ipsum dolor sit amet, duo brute in.
                      </span>
                      <button type="button" class="btn btn-default suggested-view-button">View</button>
                  </div>
                  <div class="col-md-6 col-xs-6 no-padding suggested-quad-image">
                      <img src="images/cruisesimage.png">
                  </div>
              </div>
          </div>
      </div>
      <!-- Second section End -->



  </div>
  <!-- Find-destination Section End -->


  <!-- Testimonial Section Start -->
  <div class="row testimonial">
    <span class="col-md-3 no-padding testimonial-img">
      <img src="images/logo-icon.png">
    </span>
    <span class="col-md-9 no-padding">
      <p class="col-md-12 no-padding testimonial-head">Why plan with us?</p>
      <ul class="col-md-12 no-padding">
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
      </ul>
    </span>
  </div>
  <!-- Testimonial Section End -->


</div>
