<div class="container">
  <div class="col-md-12 head-section">
    <span class="home-tab">Home</span>
    <span class="login-tab">Login</span>
  </div>
  <div class="col-md-12 plan-vacation">
    <div class="col-md-7">
    <img  src="images/yeoman.png">
    <span class="col-md-2">
      COMPANY LOGO
    </span>
    </div>
    <div class="col-md-5 plan-section">
      <div class="col-md-12">
        Plan Your
      </div>
      <div class="col-md-12">
        Vacation
      </div>
      <input class="col-md-12" placeholder="Enter a city or country"/>
      <input class="col-md-6" placeholder="MM/DD/YYYY"/>
      <input class="col-md-6" placeholder="Search"/>
    </div>
  </div>
  <div class="col-md-12 featured-packs">
    <span class="col-md-12 featured-packs-head">Featured Packages</span>
    <ul class="col-md-12">
      <li class="col-md-3">
        <img  src="images/yeoman.png">
        <span>
          <b class="col-md-12">New York,USA</b>
          <span class="col-md-12">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
          Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
          <span class="col-md-12 price">$899</span>
        </span>
      </li>
      <li class="col-md-3">
        <span>
          <b class="col-md-12">New York,USA</b>
          <span class="col-md-12">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
          Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
          <span class="col-md-12 price">$899</span>
        </span>
        <img  src="images/yeoman.png">
      </li>
      <li class="col-md-3">
        <img  src="images/yeoman.png">
        <span>
          <b class="col-md-12">New York,USA</b>
          <span class="col-md-12">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
          Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
          <span class="col-md-12 price">$899</span>
        </span>
      </li>
      <li class="col-md-3">
        <span>
          <b class="col-md-12">New York,USA</b>
          <span class="col-md-12">Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
          Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello</span>
          <span class="col-md-12 price">$899</span>
        </span>
        <img  src="images/yeoman.png">
      </li>
    </ul>
  </div>
  <div class="col-md-12 why-us">
    <span class="col-md-3">
      <img  src="images/yeoman.png">
    </span>
    <span class="col-md-9">
      <p class="col-md-12">Why plan with us?</p>
      <ul class="col-md-12">
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
        <li>Hello Hello Hello Hello Hello Hello Hello Hello </li>
      </ul>
    </span>
  </div>
  <div class="col-md-12 find-destination">
    <p class="col-md-12 find-destination-head">Find Your destination</p>
    <div class="col-md-6">
      <div>
        <h1>Nature & Wildlife</h1>
        <span class="col-md-12">Hello Hello Hello Hello Hello Hello Hello </span>
        <button class="col-md-6">Plan Trip</button>
      </div>
      <img src="images/yeoman.png" class="col-md-6" />
    </div>
  </div>
</div>
