<div class="plan-vacation row clearfix">
    <div class="col-xs-5 col-md-4 no-padding company-logo">
        <img src="images/complany-logo.png" />
    </div>
    <div class="col-xs-7 col-md-8 no-padding vacation-heading">
        <span class="vacation-heading--plan" >Plan Your</span>
        <span class="vacation-heading--vacation" >Vacation</span>
    </div>
</div>

<div class="row book-vacation-wrapper">
    <div class="book-vacation col-xs-12">Book Vacation</div>
    <div class="contact-agent col-xs-12">Contact Travel Agent</div>
</div>

<div class="row">
    <!-- Right column START -->
    <div class="vacation-destination-wrapper col-md-5 col-xs-12 pull-right">
        <div class="destination-images hidden-xs">
            <div class="upper-image clearfix"><img src="images/picture_1.png"></div>
            <div class="clearfix">
                <div class="col-md-4 no-padding"><img src="images/Picture-2.png"></div>
                <div class="col-md-4 no-padding"><img src="images/Picture-4.png"></div>
                <div class="col-md-4 no-padding"><img src="images/Picture-3.png"></div>
            </div>
        </div>
        <div class="places">
            <div class="destination-banner headingArea">Destinations</div>
            <div class="add-destination clearfix"><span>Add Destination</span></div>
            <div class="add-places-wrapper clearfix">
                <div class="places-to-be-added clearfix">
                    <img class="col-md-3 col-xs-3 no-padding" src="images/destinationImage_2.png">
                    <div class="place-desc-wrapper directing-arrow-left col-md-9 clearfix">
                        <div class="col-md-12 no-padding">
                            <span class="col-md-8 no-padding">Paris France</span>
                            <a class="col-md-2 remove-site no-padding"></a>
                            <span class="col-md-2 edit-place no-padding"></span>
                        </div>
                        <div class="col-md-8 col-xs-9 no-padding">March7-14, 2015</div>
                    </div>
                </div>
                <div class="places-to-be-added clearfix">
                    <img class="col-md-3 col-xs-3 no-padding" src="images/destinationImage_2.png">
                    <div class="place-desc-wrapper directing-arrow-left col-md-9 clearfix">
                        <div class="col-md-12 no-padding">
                            <span class="col-md-8 no-padding">Paris France</span>
                            <a class="col-md-2 remove-site no-padding"></a>
                            <span class="col-md-2 edit-place no-padding"></span>
                        </div>
                        <div class="col-md-8 col-xs-9 no-padding">March7-14, 2015</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab Section START -->
        <tabset class="vacation-tabs">
            <tab>
                <tab-heading class="vacation-tabs-attractions">Attractions</tab-heading>
                <div class="tab-content">
                    <div class="vacation-search"><input type="text" placeholder="Search..."></div>
                    DDDDDDDDDDDDDDDDDDDDDDDDD
                </div>
            </tab>
            <tab>
                <tab-heading class="vacation-tabs-tours">Tours</tab-heading>
                <div class="tab-content">
                    FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
                </div>
            </tab>
        </tabset>
        <!-- Tab Section END -->

    </div>
    <!-- Right column  END -->
    <!-- Left column START -->
    <div class="vacation-itinary-wrapper col-md-7 col-xs-12 pull-left">
        <div class="vacation-itinary-banner headingArea">Vacation Itinary <span class="save-button">Save</span></div>
        <!-- Tab Section START -->
        <tabset class="itinary-tabs">
            <tab>
                <tab-heading class="itinary-tabs-list">List</tab-heading>
                <div class="tab-content">
                    <div class="destination-name">Paris, France</div>
                    <div class="list-wrapper clearfix">
                        <div class="tour-date col-md-12 col-xs-12 clearfix">
                            <div class="col-md-10 col-xs-10 no-padding">Saturday, March7</div>
                            <select class="col-md-2 col-xs-2 no-padding">
                                <option>Day 1</option>
                                <option>Day 2</option>
                                <option>Day 3</option>
                            </select>
                        </div>
                        <!-- list START-->
                        <div class="col-md-12">
                            <img class="col-md-2 col-xs-2  site-image no-padding" src="images/Picture-2.png">
                            <div class="col-md-10 col-xs-10 site-description-wrapper directing-arrow-left no-padding">
                                <div class="site-name-wrapper clearfix">
                                    <span class="col-md-3  col-xs-3 site-time">10:00 Am</span>
                                    <span class="col-md-7  col-xs-7 site-name">Eiffel Tower</span>
                                    <a class="col-md-2  col-xs-2 remove-site"></a>
                                </div>
                                <div class="site-description clearfix">
                                    <span class="col-md-3  col-xs-3 site-duration">(3 hours)</span>
                                    <span class="col-md-7  col-xs-7">
                                        Lorem ipsum dolor sit amet, duo brute nusquam in.
                                        Eos ei animal expetenda, cu detracto lobortis vel.
                                        Lorem ipsum.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- list END-->
                        <!-- list START-->
                        <div class="col-md-12">
                            <img class="col-md-2 col-xs-2  site-image no-padding" src="images/Picture-2.png">
                            <div class="col-md-10 col-xs-10 site-description-wrapper directing-arrow-left no-padding">
                                <div class="site-name-wrapper clearfix">
                                    <span class="col-md-3  col-xs-3 site-time">10:00 Am</span>
                                    <span class="col-md-7  col-xs-7 site-name">Eiffel Tower</span>
                                    <a class="col-md-2  col-xs-2 remove-site"></a>
                                </div>
                                <div class="site-description clearfix">
                                    <span class="col-md-3  col-xs-3 site-duration">(3 hours)</span>
                                    <span class="col-md-7  col-xs-7">
                                        Lorem ipsum dolor sit amet, duo brute nusquam in.
                                        Eos ei animal expetenda, cu detracto lobortis vel.
                                        Lorem ipsum.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- list END-->
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading class="itinary-tabs-calendar">Calendar</tab-heading>
                <div class="tab-content">
                    FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
                </div>
            </tab>
        </tabset>
        <!-- Tab Section END -->
        <div class="save-banner headingArea"><span class="save-button">Save</span></div>
    </div>
    <!-- Left column END -->
</div>
