<div class="plan-vacation row clearfix">
    <div class="col-xs-5 col-md-4 no-padding company-logo">
        <img src="images/complany-logo.png" />
    </div>
    <div class="col-xs-7 col-md-8 no-padding vacation-heading">
        <span class="vacation-heading--plan" >Plan Your</span><span class="vacation-heading--vacation" >Vacation</span>
    </div>
</div>
<div class="row book-vacation-wrapper">
    <div class="book-vacation col-xs-12">Book Vacation</div>
    <div class="contact-agent col-xs-12">Contact Travel Agent</div>
</div>
<div class="row">
    <div class="vacation-destination-wrapper col-md-5 col-xs-12 pull-right">
        <div class="destination-images hidden-xs">
            <div class="upper-image clearfix"><img src="images/picture_1.png"></div>
            <div class="clearfix">
                <div class="col-md-4 no-padding"><img src="images/Picture-2.png"></div>
                <div class="col-md-4 no-padding"><img src="images/Picture-4.png"></div>
                <div class="col-md-4 no-padding"><img src="images/Picture-3.png"></div>
            </div>
        </div>
        <div class="places">
            <div class="places">Destination</div>
            <div class="places">Add Destination</div>
            <div class="clearfix">
                <div class="col-md-4"><img src="images/destinationImage_2.png"></div>
                <div class="col-md-6">Paris France</div>
                <div class="col-md-2">X</div>
            </div>
            <div class="places"></div>
            <div class="places"></div>
        </div>


        <div>
            <!-- Nav tabs -->
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a data-href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a data-href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">.fdgsdfgsdf..</div>
                <div role="tabpanel" class="tab-pane" id="profile">.ghfghfgh..</div>
            </div>
        </div>



    </div>
    <div class="vacation-itinary-wrapper col-md-7 col-xs-12 pull-left">
        <div class=""></div>
    </div>
</div>
