<div class="container main-block">
  <div class="row">
    <div class="col-md-7 custom-border">
      <h2 class="package-heading">Paris, France</h2>
      <div class="col-md-12 row" ng-repeat="stage in stagesItenary.stages">
        <h4>{{stage.date}} (Day {{stage.stg_label}})</h4>
        <ul ui-sortable="sortableOptions" ng-model="stage.attraction" class="col-md-12 row scrolling connected-drop-target-sortable">
          <li class="col-md-12 row" ng-repeat="attraction in stage.attraction track by $index">
            <div class="col-md-2">
              <div>{{attraction.time}}</div>
              <div>({{attraction.duration}} Hours)</div>
            </div>
            <div class="col-md-10">
              <a>{{attraction.name}}</a>
              <p>{{attraction.details}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 custom-border col-md-offset-1">
      <h2 class="attraction-heading">Attractions</h2>
      <div class="col-md-12 row">
        <ul>
          <li ui-sortable="draggableOptions"
            class="draggable-element-container"
            ng-model="draggableArray"
            ng-repeat="draggableArray in draggables track by $index"
            >
            <div ng-repeat="attraction in draggableArray" ng-show="!attraction.addedInItinerary">
              <a>{{attraction.name}}</a>
              <p>{{attraction.details}}</p>
            </div>
          </li>
        </ul>


        <!-- <div ui-sortable="draggableOptions" class="screen draggable-element-container"
        ng-repeat="draggableArray in draggables track by $index"
        ng-model="draggableArray">
          <div ng-repeat="draggable in draggableArray" class="app">{{draggable.title}}</div>
        </div> -->
      </div>
    </div>

  </div>


</div>
