<div class="mycontainer">
  <div class="left-nav">
    <accordion close-others="true" >
      <accordion-group  is-open="isopen"
      ng-repeat="item in [1,2,3,4,5]"
      >
      <accordion-heading >
        asjhgdjasgd
        <i class="pull-right glyphicon"
        ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
      </accordion-heading>

      <div>fdgdfgdfgdfggfd dfgdfgdfgg dfgdfgfdgdgdfg</div>
    </accordion-group>
  </accordion>
</div>

<div class="content">
</div>
</div>
