<div class="row banner-section">
    <div class="plan-vacation clearfix">
        <div class="col-xs-5 col-md-4 no-padding company-logo">
            <img src="images/complany-logo.png" />
        </div>
        <div class="col-xs-7 col-md-8 no-padding vacation-heading">
            <h2><span>Plan Your</span>Vacation</h2>
        </div>
    </div>
    <div class="plan-vacation-form clearfix">
        <div class="col-md-8 col-md-offset-2">
            <form>
                <div class="repeat-section">
                    <input class="city" placeholder="Enter a city or country" />
                    <input class="date" placeholder="MM/DD/YYYY" />
                    <div class="add-city minus-city"><span></span></div>
                </div>
                <div class="repeat-section">
                    <input class="city" placeholder="Enter a city or country" />
                    <input class="date" placeholder="MM/DD/YYYY" />
                    <div class="add-city minus-city"><span></span></div>
                </div>
                <div class="repeat-section">
                    <input class="city" placeholder="Enter a city or country" />
                    <input class="date" placeholder="MM/DD/YYYY" />
                    <div class="add-city"><span></span></div>
                </div>
                <button class="search">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="row search-result-wrapper">
    <div class="matching-results">Matching Results</div>
    <div class="search-result">
        <div class="matching-results-wrapper clearfix">
            <img class="col-md-2" src="../images/Picture-4.png">
            <div class="col-md-6">Vacation Package A</div>
            <div class="col-md-2">Jul 7, 2015-jul 15, 2015</div>
            <button type="button" class="btn btn-default col-md-2 search-view-button">View</button>
        </div>
        <div class="matching-results-wrapper clearfix">
            <img class="col-md-2" src="../images/Picture-4.png">
            <div class="col-md-6">Vacation Package A</div>
            <div class="col-md-2">Jul 7, 2015-jul 15, 2015</div>
            <button type="button" class="btn btn-default col-md-2 search-view-button">View</button>
        </div>
        <div class="matching-results-wrapper clearfix">
            <img class="col-md-2" src="../images/Picture-4.png">
            <div class="col-md-6">Vacation Package A</div>
            <div class="col-md-2">Jul 7, 2015-jul 15, 2015</div>
            <button type="button" class="btn btn-default col-md-2 search-view-button">View</button>
        </div>
        <div class="matching-results-wrapper clearfix">
            <img class="col-md-2" src="../images/Picture-4.png">
            <div class="col-md-6">Vacation Package A</div>
            <div class="col-md-2">Jul 7, 2015-jul 15, 2015</div>
            <button type="button" class="btn btn-default col-md-2 search-view-button">View</button>
        </div>
        <div class="matching-results-wrapper clearfix">
            <img class="col-md-2" src="../images/Picture-4.png">
            <div class="col-md-6">Vacation Package A</div>
            <div class="col-md-2">Jul 7, 2015-jul 15, 2015</div>
            <button type="button" class="btn btn-default col-md-2 search-view-button">View</button>
        </div>
    </div>
</div>
