<span class="col-md-12 no-padding featured-packs-head">{{sliderContent.heading}}</span>
<div class="jcarousel-wrapper">
<div class="jcarousel">
  <ul>
    <li ng-repeat="attraction in sliderContent.attractions track by $index">
      <img src="{{attraction.imageUrl}}" ng-if="$even">
      <span class="plan-description" ng-class="$even ? 'directing-arrow-up' : 'directing-arrow-down'">
        <b class="col-md-12 no-padding planned-city">{{attraction.imageHeading}}</b>
        <span class="col-md-12 no-padding planned-city-description">{{attraction.details}}</span>
        <span class="col-md-12 no-padding plan-it-button">Plan It</span>
      </span>
      <img src="images/Alaska-Image.png" ng-if="$odd">
    </li>
  </ul>
</div>

<a href="#" class="jcarousel-control-prev"></a>
<a href="#" class="jcarousel-control-next"></a>
</div>
